{
    "table": [
        {
            "jcxx": "基础信息"
        },
        {
            "cpxx": "产品信息"
        },
        {
            "hkxx": "回款信息"
        },
        {
            "zjcc": "支架产出动态信息"
        },
        {
            "jzds": "竞争对手信息"
        }
    ],
    "jcxx": [
        {
            "name": "局矿名称",
            "id": "kjmc",
            "type": "text"
        },
        {
            "name": "局矿地址",
            "id": "kjdz",
            "type": "text"
        },
        {
            "name": "局矿基本情况介绍",
            "id": "qkjs",
            "type": "text"
        },
        {
            "name": "主要负责人姓名",
            "id": "fzrxm",
            "type": "text"
        },
        {
            "name": "主要负责人职务",
            "id": "fzrzw",
            "type": "text"
        },
        {
            "name": "主要负责人联系方式",
            "id": "fzrlxfs",
            "type": "text"
        },
        {
            "name": "其他联系人姓名",
            "id": "qtlxrxm",
            "type": "text"
        },
        {
            "name": "其他联系人职务",
            "id": "qtlxrzw",
            "type": "text"
        },
        {
            "name": "其他联系人联系方式等",
            "id": "qtlxrlxfs",
            "type": "text"
        }
    ],
    "cpxx": [
        {
            "name": "AFLv2.1",
            "id": "",
            "type": "text"
        },
        {
            "name": "AFLv2.1",
            "id": "",
            "type": "text"
        }
    ],
    "hkxx": [
        {
            "name": "AFLv2.1",
            "id": "",
            "type": "text"
        },
        {
            "name": "AFLv2.1",
            "id": "",
            "type": "text"
        }
    ],
    "zjcc": [
        {
            "name": "AFLv2.1",
            "id": "",
            "type": ""
        },
        {
            "type": "BSD",
            "url": "http://trac.dojotoolkit.org/browser/dojox/trunk/LICENSE#L13"
        }
    ],
    "jzds": [
        {
            "name": "AFLv2.1",
            "id": "",
            "type": ""
        },
        {
            "type": "BSD",
            "url": "http://trac.dojotoolkit.org/browser/dojox/trunk/LICENSE#L13"
        }
    ]
}